a {
  color: #516395;
  font-weight: 300;
  text-decoration: none;
}

.navbar-bg {
  width: 100%;
  position: fixed;
  z-index: 2;
}

.sb__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 0.5rem;
  border: 1px solid #614385;
  margin: 2.6rem 2rem;
  padding: 0 2rem;
}

.sb__navbar-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &_logo {
    margin-right: auto;
    img {
      padding: 0.7rem 1.5rem;
      width: auto;
      height: 50px; /* Adjust height as needed */
    }
  }

  &_container {
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
    margin-left: 2rem; /* Added margin-left for spacing */
    justify-content: flex-start;

    p {
      margin: 0 1rem;
      font-weight: 600;
      font-size: 15px;
      line-height: 18px;
      cursor: pointer;
      a {
        color: #516395;
        text-decoration: none;
        transition: color 0.3s ease;
      }
      a:hover {
        color: #2e8b57; /* Hover color for better interactivity */
      }
    }
  }
}

.sb__navbar-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1rem;
  border-radius: 1rem;

  button {
    padding: 0.5rem 1rem;
    color: #614385;
    background-color: white;
    border: 1px solid #614385;
    font-weight: 600;
    font-size: 13px;
    line-height: 25px;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
  }
}

.sb__navbar-menu {
  margin-left: 1rem;
  display: none;
  position: relative;
  margin-right: 2rem;

  svg {
    cursor: pointer;
  }

  &_container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background-color: white;
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 40px;
    margin-top: 1rem;
    min-width: 170px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    color:#516395;

    p {
      margin-top: 0.5rem;
      color:#516395;

    }

    &_links-sign {
      display: none;
    }
  }
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/*---------responsive----------------------------*/

@media screen and (max-width: 1050px) {
  .sb__navbar-links_container {
    display: none;
  }

  .sb__navbar-menu {
    display: flex;
  }

  .sb__navbar-links_container button {
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 700px) {
  .sb__navbar {
    padding: 0.5rem 1rem;
  }

  .sb__navbar-links_container button {
    display: flex;
  }

  .sb__navbar-links_logo img {
    padding: 0.4rem 1.1rem;
    width: 90%;
  }
}

@media screen and (max-width: 550px) {
  .sb__navbar {
    padding: 0.2rem;
  }

  .sb__navbar-links_logo img {
    padding: 0.2rem 0.5rem;
    width: 5vw;
  }

  .sb__navbar-button {
    display: flex;
  }

  .sb__navbar-menu_container {
    top: 60px;
  }

  .sb__navbar-menu_container-links-sign {
    display: block;
  }
}
