.section__padding {
    padding: 4rem 4rem;
  }
  
  .footer {
    background-color: #2d2d32;
  }
  
  .sb__footer {
    display: flex;
    flex-direction: column;
  
    &-links {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      text-align: left;
      margin-bottom: 2rem;
  
      &_div {
        width: 150px;
        margin: 1rem;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        color: white;
  
        h4 {
          font-size: 14px;
          line-height: 15px;
          margin: 0.5rem 0;
          cursor: pointer;
        }
  
        p {
          font-size: 12px;
          line-height: 15px;
          margin: 0.5rem 0;
          cursor: pointer;
        }
      }
    }
  
    &-below {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 0.2rem;
  
      &-links {
        display: flex;
        flex-direction: row;
  
        p {
          font-size: 13px;
          line-height: 15px;
          margin-left: 2rem;
          color: white;
          font-weight: 600;
        }
      }
    }
  
    &-copyright {
      p {
        font-size: 13px;
        line-height: 15px;
        color: rgb(255, 255, 255);
        font-weight: 600;
      }
    }
  }
  
  a {
    color: rgb(175, 175, 179);
    text-decoration: none;
  }
  
  .socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2%;
  
    img {
      height: 70%;
      width: 80%;
      background-color: #614385;
      padding: 4%;
      border-radius: 40%;
    }
  }
  
  hr {
    color: white !important;
    width: 100%;
  }
  
  @media screen and (max-width: 850px) {
    .sb__footer-heading {
      font-size: 44px;
      line-height: 50px;
    }
  }
  
  @media screen and (max-width: 550px) {
    .sb__footer-heading h1 {
      font-size: 34px;
      line-height: 42px;
    }
  
    .sb__footer-links {
      div {
        margin: 1rem 0;
      }
    }
  
    .sb__footer-btn p {
      font-size: 14px;
      line-height: 20px;
    }
  
    .sb__footer-below {
      flex-direction: column;
      justify-content: left;
    }
  
    .sb__footer-below-links {
      flex-direction: column;
  
      p {
        margin-left: 0rem;
        margin-top: 1rem;
      }
    }
  }
  
  @media screen and (max-width: 400px) {
    .sb__footer-heading h1 {
      font-size: 27px;
      line-height: 38px;
    }
  }
  